@import url('https://fonts.googleapis.com/css2?family=Halant:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Halant', serif;
}

.main {
    margin: auto;
    width: 50%;
    text-align: center;
}



table {
    border: none;
    border-collapse: collapse;
    border-color: transparent
}

h2 {
    text-align: center;
    margin-top: 6%;
    margin-bottom: 3%;
    margin-right: 66%;
    font-weight: 600;
    font-size: 250%;
}

button {
    height: 5%;
    width: 29%;
    border-radius: 4px;
    margin-right: 23%;
    font-size: x-small;
    border: none;
    background: rgba(21, 94, 239, 1);
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
}

label {
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 70px;
}

input {
    font-family: 'Manrope', sans-serif;
    font-size: x-small;
    color: rgba(121, 121, 121, 1);
}

.input-fw {
    width: 130%;
    padding: 6%;
    margin-left: 15%;
}

select {
    font-family: 'Manrope', sans-serif;
    font-size: x-small;
}

.radio {
    display: inline-flex;
    margin-left: 14%;
    gap: 6%;
    font-family: 'Manrope', sans-serif;
}

.checkbox {
    display: flex;
    margin-left: 14%;
    gap: 6%;
    font-family: 'Manrope', sans-serif;
}














